@using System.Globalization;
@using Funtlas.UI.Models.View;

<div id="map"></div>

@model WaysDisplay
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        #map {
            height: 600px;
        }
    </style>
}

@section Scripts
{
    <script>
        // create map
        var map = L.map('map');
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // create polylines to display
        var lines = [];
        @{
            foreach (var way in Model.Ways)
            {
                var arrPushStr = "lines.push(" + way.ToJsObjectString() + ");";
                @Html.Raw(arrPushStr)
                ;
            }
        }

        lines.forEach(function (line) {
            L.polyline(line.points, { color: line.color }).addTo(map);
        });

        // zoom the map
        @{
            var bounds = Model.GetBounds().Select(p => p.ToJsArrayString());
            var boundsString = $"[{string.Join(", ", bounds)}]";
            @Html.Raw($"map.fitBounds({boundsString});")
        }
    </script>
}
